{% load static %}
{#{% load analytics %}#}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="{% static 'core/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <meta name="theme-color" content="#000000" />
    <meta name="google-site-verification" content="yriFmM7fPUGqCm6UIRo2mLh7kpkPxqWlJjqTwPTKrUM" />
    <meta
      name="description"
      content="برند "
    />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
{#  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4FVECZ9VNE"></script>#}
{#    <script>#}
{#      window.dataLayer = window.dataLayer || [];#}
{#      function gtag(){dataLayer.push(arguments);}#}
{#      gtag('js', new Date());#}
{#      gtag('config', 'G-4FVECZ9VNE');#}
{#    </script>#}


    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />

    <link rel="manifest" href="{% static 'core/manifest.json' %}" />
    <title>Devil coin</title>



  </head>
  <body>
    <div id="root"></div>
    <script src="{% static 'core/app.js' %}"></script>
  </body>
</html>

